In [3]:
%%cmd
pip install pandas
pip install pyarrow

Microsoft Windows [Version 10.0.22631.4890]
(c) Microsoft Corporation. All rights reserved.

C:\Users\alfre\dev_notebook>pip install pandas
Collecting pandas
  Downloading pandas-2.3.3-cp314-cp314-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.5-cp314-cp314-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp314-cp314-win_amd64.whl (11.1 MB)
   ---------------------------------------- 11.1/11.1 MB 317.5 kB/s  0:00:33:01
Downloading numpy-2.3.5-cp314-cp314-win_amd64.whl (12.9 MB)
   ---------------------------------------- 12.9/12.9 MB 397.4 kB/s  0:00:32:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas
   ---------------------------------------- 3/3 [pandas]
Successfully installed numpy-2.3.5 pandas-2.3.3 pytz-2025.2

C:\Users\alfre\dev_notebook>pip install pyarrow
Collecting pyarrow
  Downloading pyarrow-22.0.0-cp314-cp314-win_amd64.whl.metadata (3.3 kB)
Downloading pyarrow-22.0.0-cp314-cp314-win_amd64.whl (28.8 MB)
   ---------------------------------------- 28.8/28.8 MB 313.6 kB/s  0:01:15:01
Installing collected packages: pyarrow
Successfully installed pyarrow-22.0.0

C:\Users\alfre\dev_notebook>

In [2]:
import pandas as pd
import pickle
import json
import glob
import os
import json

In [4]:
def set_frame(item):
    # item is a path towards a file
    df = None
    filename, extension = os.path.splitext(item)
    match(extension):
        case '.csv':
            df = pd.read_csv(item)
        case '.parquet':
            df = pd.read_parquet(item)
        case '.xlsx':
            df = pd.read_excel(item)
        case '.html':
            df = pd.read_html(item)[0]
        case '.json':
            df = pd.read_json(item)
        case '.pickle' | '.pkl':
            df = pd.read_pickle(item)
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    return df
    
def append_files(df, file_list):
    file_list.sort()
    for item in file_list:
        filename, extension = os.path.splitext(item)
        ctr = 1
        match(extension):
            case '.csv':
                df = pd.concat([df, pd.read_csv(item)], ignore_index=True)
            case '.parquet':
                df = pd.concat([df, pd.read_parquet(item)], ignore_index=True)
            case '.xlsx':
                df = pd.concat([df, pd.read_excel(item)], ignore_index=True)
            case '.html':
                df = pd.concat([df, pd.read_html(item)[0]], ignore_index=True)
            case '.json':
                df = pd.concat([df, pd.read_json(item)], ignore_index=True)
            case '.pickle' | '.pkl':
                df = pd.concat([df, pd.read_pickle(item)], ignore_index=True)
        print("Read",ctr,"file/s")
        ctr = ctr+1

    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    return df

In [7]:
credit_card = glob.glob('C:/dev/dataset/Customer Management Department/user_credit_card*')
df = set_frame(credit_card[0])

if len(credit_card) > 1:
    credit_card.pop(0)
    df = append_files(df, credit_card)

display(df)
# df.to_parquet('credit_card.parquet')

        user_id              name  credit_card_number   issuing_bank
0     USER40678        Zion Feest          4294956114            bpi
1     USER08728  Kattie Bergstrom          2742902159            bdo
2     USER29759      Aiden Corwin          1917471950            bdo
3     USER16806    Vince Gislason          3290792253      chinabank
4     USER27644     Adele Okuneva          2313395832      chinabank
...         ...               ...                 ...            ...
4995  USER49969   Kendall Waelchi          1870581879      chinabank
4996  USER57209  Lucious Kshlerin          1139377065       mayabank
4997  USER36424    Cordie Jenkins          2187584552  robinsonsbank
4998  USER45166        Tyrel Feil          2542420860            bdo
4999  USER54154       Betty Zieme          4104712921   securitybank

[5000 rows x 4 columns]

In [28]:
user_data = glob.glob('C:/dev/dataset/Customer Management Department/user_data*')
df = set_frame(user_data[0])

if len(user_data) > 1:
    user_data.pop(0)
    df = append_files(df, user_data)

display(df)
# df.to_parquet('user_card.parquet')

,user_id,creation_date,name,street,state,city,country,birthdate,gender,device_address,user_type
0,USER40678,2021-03-17 22:56:13,Zion Feest,14938 West Trace side,New Jersey,Birmingham,Hong Kong,1998-04-06 05:29:37,male,17:fb:f2:60:94:4b,basic
1,USER08728,2022-10-10 12:53:20,Kattie Bergstrom,4476 West Haven fort,Alabama,Irvine,Mayotte,2003-05-22 11:16:19,male,b0:17:a7:0b:d6:67,premium
2,USER29759,2020-05-20 04:34:44,Aiden Corwin,59980 North Crest chester,North Carolina,Tampa,Iraq,2008-08-29 16:42:05,female,24:f2:0b:88:2f:bd,basic
3,USER16806,2021-05-28 07:36:30,Vince Gislason,541 Radial mouth,Illinois,Orlando,New Zealand,2012-02-09 14:12:37,male,a4:f5:fd:fe:07:f9,basic
4,USER27644,2023-03-16 19:25:35,Adele Okuneva,896 Glen bury,Arizona,Reno,Mexico,1976-10-13 00:53:54,male,ac:80:b3:bc:8d:5f,premium

In [5]:
user_job = glob.glob('C:/dev/dataset/Customer Management Department/user_job*')
df = set_frame(user_job[0])

if len(user_job) > 1:
    user_job.pop(0)
    df = append_files(df, user_job)

display(df)
# df.to_parquet('user_job.parquet')

        user_id              name       job_title   job_level
0     USER40678        Zion Feest      Technician    Accounts
1     USER08728  Kattie Bergstrom      Technician   Solutions
2     USER29759      Aiden Corwin         Student         NaN
3     USER16806    Vince Gislason         Student         NaN
4     USER27644     Adele Okuneva       Associate   Usability
...         ...               ...             ...         ...
4995  USER49969   Kendall Waelchi     Facilitator  Directives
4996  USER57209  Lucious Kshlerin         Student         NaN
4997  USER36424    Cordie Jenkins  Representative  Directives
4998  USER45166        Tyrel Feil      Supervisor     Metrics
4999  USER54154       Betty Zieme         Student         NaN

[5000 rows x 4 columns]