In [22]:
%%cmd
pip install pandas
pip install pyarrow
pip install psycopg2
pip install sqlalchemy
pip install bs4
pip install lxml
pip install html5lib

Microsoft Windows [Version 10.0.26100.6899]
(c) Microsoft Corporation. All rights reserved.

C:\Users\alfred\DWH\shopzada>pip install pandas
Requirement already satisfied: pandas in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\alfred\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

C:\Users\alfred\DWH\shopzada>pip install pyarrow
Requirement already satisfied: pyarrow in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (21.0.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\alfred\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

C:\Users\alfred\DWH\shopzada>pip install psycopg2
Requirement already satisfied: psycopg2 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\alfred\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

C:\Users\alfred\DWH\shopzada>pip install sqlalchemy
Requirement already satisfied: sqlalchemy in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\alfred\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

C:\Users\alfred\DWH\shopzada>pip install bs4
Requirement already satisfied: bs4 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from beautifulsoup4->bs4) (2.5)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\alfred\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

C:\Users\alfred\DWH\shopzada>pip install lxml
Requirement already satisfied: lxml in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (6.0.2)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\alfred\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

C:\Users\alfred\DWH\shopzada>pip install html5lib
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\alfred\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\alfred\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

C:\Users\alfred\DWH\shopzada>

In [1]:
import pandas as pd
import pyarrow as pa
import lxml
import html5lib
from bs4 import BeautifulSoup
import os
import glob

In [2]:
def set_frame(item):
    # item is a path towards a file
    df = None
    filename, extension = os.path.splitext(item)
    match(extension):
        case '.csv':
            df = pd.read_csv(item)
        case '.parquet':
            df = pd.read_parquet(item)
        case '.xlsx':
            df = pd.read_excel(item)
        case '.html':
            df = pd.read_html(item)[0]
        case '.json':
            df = pd.read_json(item)
        case '.pickle' | '.pkl':
            df = pd.read_pickle(item)
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    return df
    
def append_files(df, file_list):
    file_list.sort()
    for item in file_list:
        filename, extension = os.path.splitext(item)
        ctr = 1
        match(extension):
            case '.csv':
                df = pd.concat([df, pd.read_csv(item)], ignore_index=True)
            case '.parquet':
                df = pd.concat([df, pd.read_parquet(item)], ignore_index=True)
            case '.xlsx':
                df = pd.concat([df, pd.read_excel(item)], ignore_index=True)
            case '.html':
                df = pd.concat([df, pd.read_html(item)[0]], ignore_index=True)
            case '.json':
                df = pd.concat([df, pd.read_json(item)], ignore_index=True)
            case '.pickle' | '.pkl':
                df = pd.concat([df, pd.read_pickle(item)], ignore_index=True)
        print("Read",ctr,"file/s")
        ctr = ctr+1

    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    return df

In [5]:
order_merchant_data = glob.glob("C:/dev/dataset/Enterprise Department/order_with_merchant_data*")
order_merchant_data.sort()
df = set_frame(order_merchant_data[0])
order_merchant_data.pop(0)
df = append_files(df, order_merchant_data)

display(df)
# df.to_parquet("order_merchant_data.parquet")

Read 1 file/s
Read 1 file/s

                                    order_id    merchant_id      staff_id
0       eac330c0-457a-4faa-b15a-52a3c440e7f3  MERCHANT58557  STAFF0027757
1       e1beaf61-e687-4e70-bdd4-3ea338139a0b   MERCHANT0605  STAFF0039068
2       0612c246-57f1-40e8-9993-0f8d41992049  MERCHANT22282  STAFF0058495
3       a800f0d9-47d8-455b-b096-622e76156705  MERCHANT39307  STAFF0038632
4       b4c411de-2fd3-4806-91ae-165edc9baa12  MERCHANT26962  STAFF0035568
...                                      ...            ...           ...
499995  ba506489-1505-481d-b0b1-8cdbf04a515f  MERCHANT64706  STAFF0002455
499996  551a54f1-1a7f-4a1d-a7c7-62afb433b4f4  MERCHANT12240  STAFF0065523
499997  2b2e775f-d6cd-4659-9a88-b4950bc326c0  MERCHANT39339  STAFF0039868
499998  949eb760-8022-4f0b-9e6c-3ddb049a25fd   MERCHANT1546  STAFF0041085
499999  4d1c5613-a48e-4b18-b016-bb639a1d5490  MERCHANT10900  STAFF0057025

[500000 rows x 3 columns]

In [8]:
merchant_data = glob.glob("C:/dev/dataset/Enterprise Department/merchant_data*")
merchant_data.sort()
df = set_frame(merchant_data[0])

if len(merchant_data) > 1:
    merchant_data.pop(0)
    df = append_files(df, merchant_data)

display(df)
# df.to_parquet("merchant_data.parquet")

,merchant_id,creation_date,name,street,state,city,country,contact_number
0,MERCHANT53971,2022-06-28 11:42:04,Whitby Group,813 North Isle bury,South Carolina,Boise,Brunei Darussalam,661.157.5528
1,MERCHANT56138,2020-08-27 20:35:19,YourMapper,54861 Springs view,Colorado,Cleveland,Sint Maarten (Dutch part),(046)415-8092
2,MERCHANT31852,2021-08-05 12:04:33,United Mayflower,730 East Islands side,Virginia,Atlanta,Mali,939.273.0312
3,MERCHANT63299,2021-08-15 19:00:03,TransparaGov,2619 Coves haven,Maine,Indianapolis,Chad,1-181-438-5899
4,MERCHANT16722,2023-02-28 20:35:34,Maponics,979 North Rue borough,Wyoming,Boise,Guatemala,494-319-8223
...,...,...,...,...,...,...,...,...
4995,MERCHANT54074,2021-10-16 18:18:52,KLD Research,5760 Rapids mouth,Connecticut,Wichita,Holy See,(499)792-6191
4996,MERCHANT41034,2020-04-25 23:45:42,LoopNet,532 Walks bury,Iowa,Madison,Oman,484.217.8833
4997,MERCHANT55677,2020-07-25 13:12:36,Marlin & Associates,44600 Park port,South Dakota,Wichita,Mauritania,1-681-783-5079
4998,MERCHANT44767,2021-09-28 21:25:24,Accenture,217 West Estates stad,Michigan,San Francisco,Egypt,628-405-2478
4999,MERCHANT58991,2020-12-03 12:58:45,Arpin Van Lines,12166 Coves berg,West Virginia,Scottsdale,South Africa,1-678-937-3157

In [9]:
staff_data = glob.glob("C:/dev/dataset/Enterprise Department/staff_data*")
staff_data.sort()
df = set_frame(staff_data[0])

if len(staff_data) > 1:
    staff_data.pop(0)
    df = append_files(df, staff_data)

display(df)
# df.to_parquet("staff_data.parquet")

,staff_id,name,job_level,street,state,city,country,contact_number,creation_date
0,STAFF0009650,Randall Bergstrom,intermediate,376 Land chester,Texas,Omaha,Cook Islands,(138)548-8481,2020-09-04 02:33:28
1,STAFF0039964,Christian Hessel,intermediate,945 West Camp shire,New Mexico,San Diego,Pakistan,393-164-5574,2020-08-08 06:50:47
2,STAFF0044932,Edgardo Fadel,entry,997 Expressway town,Rhode Island,Corpus Christi,Albania,328.133.8850,2020-02-10 16:49:18
3,STAFF0015819,Jordi Gleichner,entry,720 Centers burgh,Virginia,Bakersfield,Timor-Leste,649.258.8115,2021-06-11 11:30:29
4,STAFF0036616,Price Hintz,intermediate,1720 North Skyway burgh,Alabama,Scottsdale,"Palestine, State of",977-698-2305,2020-08-10 10:37:55
...,...,...,...,...,...,...,...,...,...
4995,STAFF0023027,Felicia Keeling,intermediate,8564 Courts town,Idaho,Anaheim,Timor-Leste,167-344-4583,2023-03-17 14:32:11
4996,STAFF0046023,Leonardo Wiza,intermediate,997 Port Branch bury,Minnesota,Raleigh,Israel,1-589-339-3757,2020-02-26 06:34:01
4997,STAFF0021174,Blake Huels,entry,4498 Bypass shire,Indiana,Nashville-Davidson,Zambia,523.422.0032,2023-03-17 21:09:18
4998,STAFF0000759,Darrell Ward,intermediate,1934 New Flats fort,Mississippi,Chicago,Greenland,661-368-4699,2022-01-13 09:45:18
4999,STAFF0008057,Idell Kilback,entry,256 East Courts view,Tennessee,Charlotte,Bahrain,995-556-9058,2021-06-01 10:05:25