In [16]:
%%cmd
pip install pandas
pip install bs4
pip install lxml
pip install html5lib
pip install openpyxl

Microsoft Windows [Version 10.0.22631.4890]
(c) Microsoft Corporation. All rights reserved.

C:\Users\alfre\dev_notebook>pip install pandas
Requirement already satisfied: pandas in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

C:\Users\alfre\dev_notebook>pip install bs4
Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from bs4) (4.14.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from beautifulsoup4->bs4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from beautifulsoup4->bs4) (4.15.0)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

C:\Users\alfre\dev_notebook>pip install lxml
Collecting lxml
  Downloading lxml-6.0.2-cp314-cp314-win_amd64.whl.metadata (3.7 kB)
Downloading lxml-6.0.2-cp314-cp314-win_amd64.whl (4.1 MB)
   ---------------------------------------- 4.1/4.1 MB 362.8 kB/s  0:00:10:01
Installing collected packages: lxml
Successfully installed lxml-6.0.2

C:\Users\alfre\dev_notebook>pip install html5lib
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\alfre\appdata\local\programs\python\python314\lib\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

C:\Users\alfre\dev_notebook>pip install openpyxl
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ---------------------------------------- 2/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

C:\Users\alfre\dev_notebook>

In [2]:
import pandas as pd
import pickle
import json
import glob
import os

In [3]:
def set_frame(item):
    # item is a path towards a file
    df = None
    filename, extension = os.path.splitext(item)
    match(extension):
        case '.csv':
            df = pd.read_csv(item)
        case '.parquet':
            df = pd.read_parquet(item)
        case '.xlsx':
            df = pd.read_excel(item)
        case '.html':
            df = pd.read_html(item)[0]
        case '.json':
            df = pd.read_json(item)
        case '.pickle' | '.pkl':
            df = pd.read_pickle(item)
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    return df
    
def append_files(df, file_list):
    file_list.sort()
    for item in file_list:
        filename, extension = os.path.splitext(item)
        ctr = 1
        match(extension):
            case '.csv':
                df = pd.concat([df, pd.read_csv(item)], ignore_index=True)
            case '.parquet':
                df = pd.concat([df, pd.read_parquet(item)], ignore_index=True)
            case '.xlsx':
                df = pd.concat([df, pd.read_excel(item)], ignore_index=True)
            case '.html':
                df = pd.concat([df, pd.read_html(item)[0]], ignore_index=True)
            case '.json':
                df = pd.concat([df, pd.read_json(item)], ignore_index=True)
            case '.pickle' | '.pkl':
                df = pd.concat([df, pd.read_pickle(item)], ignore_index=True)
        print("Read",ctr,"file/s")
        ctr = ctr+1

    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    return df

In [4]:
line_item_data_prices = glob.glob("C:/dev/dataset/Operations Department/line_item_data_prices*")
line_item_data_prices.sort()
df = set_frame(line_item_data_prices[0])
line_item_data_prices.pop(0)
df = append_files(df, line_item_data_prices)

# removes non-numbers in 'quantity' column
df.replace(to_replace={'quantity': '[^0-9]'}, value="", inplace=True, regex=True)

display(df)
# df.to_parquet("line_item_data_prices")

Read 1 file/s
Read 1 file/s

                                     order_id  price quantity
0        8d8acbac-ccbb-4609-a978-98dee3ac3088  12.81        6
1        59e4c308-5262-486d-9f1a-12b1278e3c44  14.00        6
2        30fc1b76-c488-4077-8d70-3236e3afc990   6.78        4
3        6b273d38-b472-4bb2-8b74-a26705c707fa   8.72        4
4        6b273d38-b472-4bb2-8b74-a26705c707fa   8.83        5
...                                       ...    ...      ...
1997169  8a985165-e1b4-4f91-a8c4-86f54c806a9c  17.28        5
1997170  7285b9ed-a45a-4aa0-86fb-2abae50780f8  17.28        5
1997171  35ad8f1d-9014-4430-bed3-f803b46d48a6  38.07        6
1997172  38320c44-fea2-46b1-adfc-c4be22865c78  17.28        3
1997173  0446efea-bbb6-4d85-aa6e-51381f440595  17.28        4

[1997174 rows x 3 columns]

In [58]:
line_item_data_products = glob.glob("C:/dev/dataset/Operations Department/line_item_data_products*")
line_item_data_products.sort()
df = set_frame(line_item_data_products[0])
line_item_data_products.pop(0)
df = append_files(df, line_item_data_products)

display(df)
# df.to_parquet("line_item_data_products")

Read 1 file/s
Read 1 file/s

,order_id,product_name,product_id
0,8d8acbac-ccbb-4609-a978-98dee3ac3088,Grandmas swedish thin pancakes,PRODUCT16794
1,59e4c308-5262-486d-9f1a-12b1278e3c44,Blackberry breakfast bars,PRODUCT56387
2,30fc1b76-c488-4077-8d70-3236e3afc990,Moms cheat doughnuts,PRODUCT26612
3,6b273d38-b472-4bb2-8b74-a26705c707fa,Baked swiss cheese omelet,PRODUCT17344
4,6b273d38-b472-4bb2-8b74-a26705c707fa,Egg flowers,PRODUCT07816
...,...,...,...
1997169,8a985165-e1b4-4f91-a8c4-86f54c806a9c,tomato,PRODUCT35203
1997170,7285b9ed-a45a-4aa0-86fb-2abae50780f8,tomato,PRODUCT35203
1997171,35ad8f1d-9014-4430-bed3-f803b46d48a6,dehumidifier,PRODUCT07137
1997172,38320c44-fea2-46b1-adfc-c4be22865c78,rice,PRODUCT29484
1997173,0446efea-bbb6-4d85-aa6e-51381f440595,rice,PRODUCT29484

In [70]:
# Order Data
order_data = glob.glob("C:/dev/dataset/Operations Department/order_data*")
order_data.sort()
df = set_frame(order_data[0])
order_data.pop(0)
df = append_files(df, order_data)
ctr = 1

# SI of Estimated Arrival is days
df.replace(to_replace={'estimated arrival': '[^0-9]'}, value="", inplace=True, regex=True)

display(df)
# df.to_parquet('output_order_data')

Read 1 file/s
Read 1 file/s
Read 1 file/s
Read 1 file/s
Read 1 file/s

,order_id,user_id,estimated arrival,transaction_date
0,0248bb48-d0d0-4a11-a158-f620640a757a,USER16283,13,2020-06-04
1,14473b59-6c4f-429e-89ef-ce920b209df3,USER08179,8,2020-04-07
2,62b8fabf-4e0a-4383-8b3a-7276c77f9e8c,USER55688,10,2020-05-07
3,96a01cee-071d-4e10-a9e4-56a31b82a9d5,USER34967,8,2020-06-05
4,479b1a6c-3a76-41a7-b15d-71acd4045080,USER07130,15,2020-05-24
...,...,...,...,...
499995,567ef043-cc78-42af-90cc-9e92a240479f,USER28093,3,2023-10-08
499996,8fd537e1-a0b6-434f-a928-f37a19c54c05,USER14801,3,2023-10-13
499997,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3,2023-11-07
499998,575b0a2d-5539-4565-a10b-1f4f6516cd27,USER59342,12,2023-07-28
499999,949eb760-8022-4f0b-9e6c-3ddb049a25fd,USER04177,4,2023-08-16

In [69]:
order_delays = glob.glob("C:/dev/dataset/Operations Department/order_delay*")
order_delays.sort()
df = set_frame(order_delays[0])

if len(order_delays) > 1:
    order_delays.pop(0)
    df = append_files(df, order_delays)

display(df)

                                    order_id  delay in days
0       a0c62902-2728-4b38-bf40-89816ebe183f              9
1       17902aef-e623-48c0-a865-ab427be0f114              7
2       ce47737b-2253-4ff6-90c6-2b5955d1de1e              7
3       fc3312cf-f014-4c14-a04d-b26403835c03              5
4       c0053e4c-5b10-4e31-97f6-2d60866e2fbb              6
...                                      ...            ...
199995  39beb902-0b9f-40ce-a75c-3f9a1186bda1              5
199996  336c76e4-92fa-463a-b12a-0e67fa177f9c              4
199997  703941d7-aaff-4f16-b34e-70ec2b3d29bf              0
199998  f3cdd72c-4a6d-4a34-9388-29b4a46e6b51              2
199999  5273a961-97c7-48b4-bc81-934ce0833cde              0

[200000 rows x 2 columns]